# Supabase Configuration
# Fill in with your Supabase Project credentials and copy to a `.env` file

VITE_SUPABASE_URL= https://xkooguvxhhempfpcmrjd.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
